<ul class="nav nav-pills nav-stacked">
  <%= content_tag :li, :class => nav_class(settings_account_path, "accounts") do -%>
    <%= link_to  settings_account_path  do %> 
      Account <!-- <i class="icon-chevron-right"></i> -->
    <% end %>
  <% end -%>
  <li>
    <%= content_tag :li, :class => nav_class(settings_password_path, "passwords") do -%>
      <%= link_to  settings_password_path  do %> 
        Password <!-- <i class="icon-chevron-right"></i> -->
      <% end %>
    <% end -%>
  </li>
  <li>
    <%= content_tag :li, :class => nav_class(settings_profile_path, "profiles") do -%>
      <%= link_to  settings_profile_path  do %> 
        Profile <!-- <i class="icon-chevron-right"></i> -->
      <% end %>
    <% end -%>
  </li>
</ul>