<%= form_for(@user, :url => settings_account_path, :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>

  <%= render "shared/error_messages", :target => @user %>
  
  <fieldset>
    <legend>Account</legend>
    
    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
        <%= f.email_field :email %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit "Save changes", :class => 'btn btn-primary' %>
      <%#= link_to 'Cancel', :back, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>

<legend>Cancel my account</legend>

<p><%= link_to "Deactivate", registration_path(@user), :confirm => "Are you sure?", :method => :delete, :class => "btn btn-warning btn-large" %></p>
