<%= form_for(@user, :url => settings_account_path, :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>

  <%= render "shared/error_messages", :target => @user %>
  
  <fieldset>
    <legend>Account</legend>
    
    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
        <%= f.email_field :email %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit "Update", :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', :back, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(@user), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>
