<h1>/Prop</h1>

<p>
  <b>Title</b><br>
  <%= @prop.title %>
</p>

<p>
  <b>Description</b><br>
  <%= @prop.description %>
</p>

<p>
  <b>Point</b><br>
  <%= @prop.point %>
</p>

<p>
  <b>Category</b><br>
  <%= @prop.category.title %>
</p>

<div class="form-actions">
  <%= link_to 'Back', admin_props_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_admin_prop_path(@prop), :class => 'btn' %>
  <%= link_to 'Delete', admin_prop_path(@prop), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
